<div class="container">
    <div class="wrapper">
        <div class="wrapper-container">
              <weather-box-item class="weather-box-item"
                      *ngFor="let item of items"
                      [item]="item">
              </weather-box-item>
        </div>

        <!-- new -->

        <!-- <div class="weather-box1">
          <div class="box1">
            <div class="box-wrepper-box_level1">
              <div class="box-level1">
                <h2>Novi knezevac</h2>
                <time>19 09 205919</time>
              </div>
              <div class="box-level1">
                <h2>33c0</h2>
                <p>image</p>
              </div>
              <div class="box-level1">
                <h2>humidity: 5555%</h2>
                <p>wind 55km/h</p>
              </div>
            </div>
          </div>
            <div class="box1">2</div>
            <div class="box1">3</div>
          <div class="box1">4</div>
        </div> -->

    </div>
</div>

<!-- old -->
<!-- <div class="weather-box">
    <div class="weather-box_content">
      <div class="content-box">
        <div class="box">
          <h3>{{ item.cityName }}</h3>
        </div>
        <div class="box">
          <span>{{ item.temp }}<sup>&deg;C</sup></span>
        </div>
        <div class="box">
          <p>Humidity: {{ item.humid }} %</p>
        </div>
      </div>
      <div class="content-box">
          <div class="box">
              <h5>{{ item.date }}</h5>
          </div>
        <div class="box">
            <span>
                <img src='http://openweathermap.org/img/w/{{item.icon}}.png' alt="icon" />
            </span>
        </div>
        <div class="box">
            <p>wind: {{ item.wind }} km/h</p>
        </div>
      </div>
    </div>
  </div> -->



