.wrapper-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.weather-box {
  flex: 1 1 32%;
  padding: 10px;
  margin: 5px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
}

.weather-box_content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.box {
  flex: 1;
  h3, h5 {
    color: #333;
  }
  span {
    font-size: 1.3em;
    display: flex;
  }
}

.content-box > .box:nth-child(2) {
  padding-left: 20px;
}
