@import '~scss/mixins';

.container {
  width: 100%;
  float: left;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

.wrapper-container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.weather-box-item {
  flex: 1 1 32%;
  @include breakpoint('mobile') {
    flex-direction: column;
    flex: 1 1 100%;
  }
}
