@import '~scss/mixins';

.container {
  width: 100%;
  float: left;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

.wrapper-container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.weather-box-item {
  flex: 1 1 32%;
  @include breakpoint('mobile') {
    flex-direction: column;
    flex: 1 1 100%;
  }
}

// new for box item

// new

// .weather-box1 {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   background-color: aqua;
//   justify-content: center;
// }

// .box1 {
//   flex: 1 1 32%;
//   background-color: green;
//   margin: 5px;
// }

// .box-wrepper-box_level1 {
//   display: flex;
//   padding: 5px;
//   background-color: pink;
// }

// .box-level1 {
//   flex: 1 1 32%;
//   background-color: green;
// }
