@import '~scss/mixins';

.search-box-wrapper_button {
  display: flex;
  background-color: #fff;
  padding: 5px;
  @include breakpoint('tablet') {
    flex-direction: column;
    width: 100%;
  }
  @include breakpoint('mobile') {
    flex-direction: column;
    width: 100%;
  }
}

.search-box__botton {
  display: flex;
  background-color: #2988c6;
  cursor: pointer;
  padding: 0 10px;
  margin-right: 5px;
  @include breakpoint('tablet') {
    padding: 10px 10px;
    margin: 0;
    margin-bottom: 5px;
  }
  @include breakpoint('mobile') {
    margin: 0;
    padding: 15px 10px;
    margin-bottom: 5px;
  }
}

.search-box__botton--tab {
  flex: 1;
  display: flex;
  cursor: pointer;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  span {
    color: #fff;
    i {
        color: indianred;
    }
  }
}

.search-input {
  display: flex;
  padding: 15px 10px 15px 25px;;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  max-width: 900px;
  @include breakpoint('tablet') {
    width: 100%;
  }
  @include breakpoint('mobile') {
    width: 100%;
  }
}

.search-box__imput {
  display: flex;
}
